#wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 500px;
	min-width: 1200px;
}
header{
	box-shadow: 0px 0px 5px black;
	z-index: 99;
	display: flex;
	align-items: center;
	margin:0 auto;
	position: absolute;
	top: 2.5%;
	bottom: 0;
	left: 0;
	right: 0;
	width: 70%;
	height: 10%;
	border-radius: 3px;
	background: rgba(81, 154, 83, 0.7);
	min-width: 790px;
	min-height: 75px;
	border-bottom: 0.5em solid rgba(240, 250, 240, 1);
}
#logo{
	display: inline-block;
	position: relative;
	left: 5%;
	font-size: 1.3em;
}
ul{
	display: inline-block;
	position: relative;
	left: 20%;
}
li{
	box-shadow: 1px 1px 6px black;
	display: inline-block;
	margin-left: 90px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	box-sizing: padding-box;
	padding: 5px;
	transition: background 0.2s ease;
}
li:hover{
	background: rgba(255, 255, 255, 1);
}
#active{
	box-shadow: 0px 1px 1px black;
	background: rgba(240, 250, 240, 1);
	width: 60%;
	height: 8%;
	min-width: 675px;
	min-height: 52px;
	border-radius: 5px;
	position: absolute;
	top: 19%;
	right: 0;
	left: 0;
	bottom: 0;
	margin: 0 auto;
}
#text{
	box-shadow: 0px 0px 6px black;
	line-height: 1.2;
	display: inline-block;
	width: 40%;
	min-width: 500px;
	height: auto;
	padding: 1.4%;
	position: absolute;
	top: 40%;
	left: 5%;
	right: 0;
	bottom: 0;
	border-radius: 5px;
	background: rgba(240, 250, 240, 1);
	font-size: 0.9em;
	transition: background 1s ease;
}
#text:hover{
	background: white;
}
#authorisation{
	text-align: center;
	font-size: 1.4em;
	position: absolute;
	top: 40%;
	right: 12%;
	width: 20%;
	height: 38%;
	min-width: 370px;
	min-height: 125px;
	background: rgba(81, 154, 83, 1);
	border-radius: 5px;
	box-shadow: 0px 1px 4px black;
}
input{
	cursor: pointer;
}
#authorisation input[type="text"]{
	font-size: 15px;
	height: 20px;
	width: 174px;
	border-radius: 3px;
	background: rgba(195, 213, 129, 1);
	border-color: rgba(71, 71, 71, 1);
	padding: 2px;
	transition: background 1s ease;
}
#authorisation input[type="text"]:focus{
	background: rgba(255, 255, 255, 1);
	color: black;
}
#authorisation input[type="password"]{
	font-size: 15px;
	height: 20px;
	width: 174px;
	border-radius: 3px;
	background: rgba(195, 213, 129, 1);
	border-color: rgba(71, 71, 71, 1);
	padding: 2px;
	transition: background 1s ease;
}
#authorisation input[type="password"]:focus{
	background: rgba(255, 255, 255, 1);
	color: black;
}
#authorisation button[type="submit"]{
	text-align: center;
	width: 40%;
	height: 20%;
	position: absolute;
	top: 73%;
	right: 5%;
	border-radius: 8px;
	border:0px solid rgba(255, 255, 255, 0);
	background:rgba(255, 255, 255, 0.8);
	transition: background 0.8s ease;
}
#authorisation button[type="submit"]:hover{
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 5px black;
}
#change{
	text-align: center;
	width: 40%;
	height: 20%;
	position: absolute;
	top: 73%;
	right: 55%;
	border-radius: 8px;
	border:0px solid rgba(255, 255, 255, 0);
	background:rgba(255, 255, 255, 0.8);
	transition: background 0.8s ease;
}
#change:hover{
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 5px black;
}
footer{
	position: absolute;
	bottom: -32.3%;
	left: 0;
	right: 0;
	width: 100%;
	height: 4%;
	background: rgba(240, 250, 240, 0.9);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 0px 0px 20px black;
	text-align: center;
	padding: 0.9% 0;
	font-size: 0.84em;
}